*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #0b67ff;
}

h1{
  font-size: 70px;
}

h2{
  font-size: 40px;
}

hr{
  opacity: .4;
}

footer{
  background-color: black;
}
