/* HEADER */
header{
  height: 60px;
  line-height: 60px;
  color: white;
}

.top{
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 999;
}

.top .logo a img{
  padding-bottom: 4px;
  vertical-align: middle;
  margin: 0 20px;
}

header .top .menu nav ul li{
  display: inline-block;
}

header .top .menu nav ul li:hover{
  border-bottom: 2px solid black;
}

header .top .menu nav ul li a{
  color: black;
  padding: 0 10px;
}

header .top .button{
  margin: .6px 20px;
}
/* HEADER */


/* JUMBOTRON */
.jumbo-back{
  background-color: #b4d0e7;
  height: 550px;
}

.jumbotron h1{
  padding: 40px 0 20px;
}

.jumbotron .jumbo-txt p{
  width: 80%;
  margin-bottom: 30px;
}

.jumbotron .jumbo-txt i{
  font-size: 30px;
}

.jumbo-img{
  width: 60%;
  height: 400px;
  padding: 50px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
/* JUMBOTRON */


/* SEARCH */
main .container .search{
  padding: 150px 0 30px;
}


/* PLANS */
.col-str{
  width: calc(100% /3 - 34px);
  border: 1px solid lightgrey;
  padding: 5px;
}

.col-down{
  height: 850px;
  border-top: 0px;
  text-align: left;
  padding: 30px 25px;
}

.container .plans .down i{
  font-size: 15px;
}

.function{
  margin: 40px 0 30px;
}

.container .col-down .checked nav ul li{
  margin-bottom: 20px;
}
/* SEARCH */


/* ENTERPRISE */
.enterprise-up{
  width: 100%;
  border: 1px solid lightgrey;
  padding: 10px;
}

.enterprise-down{
  width: 100%;
  border: 1px solid lightgrey;
  padding: 20px;
  border-top: 0px;
}

.enterprise-down .txt{
  width: 70%;
}

.enterprise-down .button{
  width: 30% - 20px;
}

.enterprise-down .txt{
  display: inline-block;
}
/* ENTERPRISE */


/* PARTNER */
.container .partner .image{
  width: 55%;
  height: 450px;
  background-image: url("../img/partner.png");
  background-size: cover;
  background-position: center;
}

.container .partner .text{
  width: 45%;
  padding-left: 30px;
}

.btn-white:active{
  background-color: lightgray;
}
/* PARTNER */


/* BUISNES */
.col{
  width: calc(100% /3 - 35px);
  margin-bottom: 40px;
}

.container .col .col-image{
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.container .col .switch{
  background-image: url("../img/business-feature-switching-tools.png");
}

.container .col .cordinate{
  background-image: url("../img/business-feature-coordinate-it.png");
}

.container .col .device{
  background-image: url("../img/business-feature-multi-device.png");
}

.container .col .integration{
  background-image: url("../img/business-feature-integrations-it.png");
}

.container .col .files{
  background-image: url("../img/business-feature-send-files-it.png");
}

.container .col .security{
  background-image: url("../img/business-feature-security.png");
}

.container .col h3{
  margin-bottom: 20px;
}
.container .col p span{
  text-decoration: underline;
} 
/* BUISNES */


/* 500k */
main .hth-5 a{
  text-decoration: underline;
}
/* 500k */


/* LOGO PARTNER */
main .big{
  width: 100vw;
}
main .big .box{
  width: 33%;
  height: calc(100vw / 3);
}

main .big .box .small{
  width: 50%;
  height: calc(100vw / 6);
  position: relative;
}

main .big .box .small img{
  width: 70%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(1);
}

main .big .credits{
  padding: 40px;
  background-color: rgb(245, 245, 245);
}

main .big .credits img{
  width: 35%;
  height: 20%;
}


main .big .box .designit{
  background-color: #a2d39b;
}

main .big .box .asu{
  background-color: #61082b;
}

main .big .box .uof{
  background-color: #0093ce;
}

main .big .box .topps{
  background-color: #ff1c1c;
}

main .big .box .relief{
  background-color: #d5001f;
}

main .big .box .hearts{
  background-color: #b4d0e7;
}

main .big .box .planet{
  background-color: #0d2481;
}

main .big .box .clear{
  background-color: #ffd830;
}


/* Porta */
.big .porta{
  width: 100vw;
  height: calc(100vw / 5);
  background-color: #b4d0e7;
  position: relative;
  margin-bottom: 80px;
}

main .big .porta .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .big .porta .container h2{
  color: #61082b;
}

main .big .porta .container a{
  border: none;
}
/* Porta*/

/* LOGO PARTNER */



/* DOMANDE */
main .container .quest span{
  font-weight: 550;
}

main .container .quest{
  position: relative;
}

main .container .quest i{
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, 0%);
}

main .container .quest:hover i{
  display: none;
}
/* DOMANDE */


/* FOOTER */
footer .foot{
  width: 80%;
  margin: 0 auto;
  color: white;
  padding: 50px 0 30px;
}

footer .foot .foot-list {
  width: 20%;
}

footer .foot .foot-list nav ul li{
  margin: 10px 0px;
}

footer .foot .foot-list nav ul li a{
 color: white;
}

footer .foot .mt-30{
  opacity: .4;
}





