/* HEADER */
header{
  height: 60px;
  line-height: 60px;
  color: white;
}

.top{
  width: 100%;
  position: fixed;
  background-color: white;
}

.top .logo a img{
  padding-bottom: 4px;
  vertical-align: middle;
  margin: 0 20px;
}

header .top .menu nav ul li{
  display: inline-block;
}

header .top .menu nav ul li a{
  color: black;
  padding: 0 10px;
}

header .top .button{
  margin: 0 20px;
}



/* JUMBOTRON */
.jumbo-back{
  background-color: #b4d0e7;
  height: 550px;
}

.jumbotron h1{
  padding: 40px 0 20px;
}

.jumbotron .jumbo-txt p{
  width: 80%;
  margin-bottom: 30px;
}

.jumbotron .jumbo-txt i{
  font-size: 30px;
}

.jumbo-img{
  width: 60%;
  height: 400px;
  padding: 50px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

/* SEARCH */
main .container .search{
  padding: 150px 0 30px;
}


/* PLANS */
.plans{
  margin-top: 30px;
}

.col-str{
  width: calc(100% /3 - 35px);
  border: 1px solid darkgrey;
  padding: 5px 5px;
  
}

.down{
  border-top: 0px;
  text-align: left;
  padding: 30px 25px;
}

.container .plans .down i{
  font-size: 15px;
}

.function{
  margin: 40px 0 30px;
}

.container .plans .down .checked nav ul li{
  margin-bottom: 20px;
}

